Source: ros-noetic-phidgets-high-speed-encoder
Section: misc
Priority: optional
Maintainer: Steven Leonis <stevenl@greenzie.com>
Build-Depends: debhelper (>= 9.0.0),
    ros-noetic-catkin,
    ros-noetic-roscpp,
    ros-noetic-nodelet,
    ros-noetic-phidgets-api (=0.7.10-0-greenzie-focal1),
    ros-noetic-phidgets-msgs (=0.7.10-0-greenzie-focal1),
    ros-noetic-pluginlib,
    ros-noetic-sensor-msgs,
    ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-phidgets-high-speed-encoder
Architecture: any
Depends: ${misc:Depends},
    ros-noetic-roscpp,
    ros-noetic-nodelet,
    ros-noetic-phidgets-api (=0.7.10-0-greenzie-focal1),
    ros-noetic-phidgets-msgs (=0.7.10-0-greenzie-focal1),
    ros-noetic-pluginlib,
    ros-noetic-sensor-msgs,
    ros-noetic-std-msgs
Description: ROS interfaces for Phidgets devices
